.ChatApp,
.MessageContainer,
.Navbar,
.Message .Bubble,
.QuickReplies,
.ChatFooter {
  background-repeat: no-repeat;
  background-size: cover;
}
.MessageContainer {
  background-image: linear-gradient(180deg, #f6f5ff 0%, #f2f2f2 100%);
}
.Message.right .Bubble {
  background-color: #d3245e;
  color: #fff;
}
